@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");

:root {
  --easing: cubic-bezier(0.2, 1, 0.2, 1);
  --transition: 0.8s var(--easing);
  --color-base: #0c1210;
  --color-gray: #ddd;
  --color-theme: #b4e900;
  --color-theme-darken: #6e8f00;
  --color-text: #adbdb7;
  --box-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.05),
    -0.8rem -0.8rem 1.2rem #fff;
  --box-shadow-hover: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.08),
    -1rem -1rem 1.5rem #fff;
  --box-shadow-inset: inset 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.05),
    inset -0.8rem -0.8rem 1.2rem #fff;
  --box-shadow-dark: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.1),
    -0.8rem -0.8rem 1.2rem rgba(#fff, 0.2);
}

:focus:not(:focus-visible) {
  outline: 0;
  /* キーボード操作"以外"でフォーカスされた際はoutlineを消す */
}

.pc-onry {
  display: none;
}

.main {
  display: block;
  width: min(1100px, 90vw);
  margin-left: auto;
}

@media (min-width: 600px) {
  .pc-onry {
    display: block;
  }

  .main {
    width: min(1100px, 60vw);
  }
}

.marker {
  background: linear-gradient(transparent 60%, #af0101 60%);
}

.l-inner {
  position: relative;
  box-sizing: content-box;
  /* width: min(600px, 35vw); */
  margin: 0 auto;
  /* padding: 0 10rem; */
}

/* .l-section {
  border-top: 1px solid #eee;
} */

.l-section .l-inner {
  padding-top: 0rem;
  padding-bottom: 1rem;
}

/* .c-temp {
      line-height: 1;
    }

    .c-temp .l-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    .c-temp .text {
      font-size: 2.4rem;
      font-weight: bold;
    }

    .c-temp .button {
      font-size: 1.4rem;
      font-weight: bold;
      display: block;
      width: 12rem;
      padding: 1.6rem 0 1.2rem;
      text-align: center;
      letter-spacing: 0.1em;
      color: #fff;
      border-radius: 100px;
      background-color: var(--color-theme);
    }

    .c-footer .l-inner {
      padding-top: 0;
    }

    .c-footer .text {
      color: var(--color-gray);
    }

    .c-info {
      font-size: 1.4rem;
      display: inline-block;
      margin-top: 4rem;
      margin-bottom: 6.4rem;
    }

    .c-info li {
      position: relative;
      padding-left: 16px;
      color: #fff;
    }

    .c-info li::before {
      position: absolute;
      top: 0.6em;
      left: 0;
      display: inline-block;
      width: 8px;
      height: 2px;
      content: "";
      background-color: var(--color-gray);
    }

    .c-info li+li {
      margin-top: 0.8rem;
    }

    .c-title {
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 1.6;
      display: inline-block;
      min-width: 32rem;
      margin-bottom: 6.4rem;
      vertical-align: top;
      color: #fff;
    }

    .c-title [class*=ico-] {
      font-size: 1.3rem;
      line-height: 1;
      display: block;
      width: 10rem;
      margin-bottom: 1.2rem;
      padding: 0.8rem 0 0.6rem;
      text-align: center;
      letter-spacing: 0.05em;
      border-radius: 100px;
      background-color: var(--color-theme-darken);
    }

    .c-title .ico-advanced {
      color: #fff;
      background-color: #333;
    } */

/* slider */
/* .slide-media,
    .thumb-media {
      position: relative;
      overflow: hidden;
    } */

/* .slide-media img,
    .thumb-media img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    } */

.splide {
  z-index: 0;
}

/* 前へ / 次へボタン */
.splide__arrow--prev,
.splide__arrow--next {
  display: grid;
  place-content: center;
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  transition: var(--transition);
  background-color: transparent;
  border-radius: 50%;
}

.splide__arrow--prev::after,
.splide__arrow--next::after {
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  border: solid black;
  border-width: 1px 1px 0 0;
}

.splide__arrow--prev::after {
  margin-left: 0.4rem;
  transform: rotate(-135deg);
}

.splide__arrow--next::after {
  margin-right: 0.4rem;
  transform: rotate(45deg);
}

.splide__arrow:disabled {
  pointer-events: none;
  opacity: 0;
}

.splide__arrow:focus-visible {
  outline: 3px solid rgba(180, 233, 0, 0.8);
  outline-offset: 3px;
  z-index: 1;
  transition: none;
}

.splide__pagination {
  font-size: 0;
}

.splide__pagination__page:focus-visible {
  outline: 3px solid rgba(180, 233, 0, 0.8);
  outline-offset: 3px;
  z-index: 1;
  transition: none;
}

.splide__slide:focus-visible {
  outline: 3px solid rgba(180, 233, 0, 0.8);
  outline-offset: 3px;
  z-index: 1;
  transition: none;
}

.splide-wrapper {
  position: relative;
}

.splide__arrow>svg {
  display: none;
}


.card {
  overflow: hidden;
}

.card .splide__track {
  overflow: visible;
}


.card .splide-controller {
  display: flex;
  gap: 1.6rem;
  /* align-items: center; */
  /* margin-top: 3rem; */
}

.card .splide__pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 0.4rem;
  justify-content: flex-start;
  margin: 0 auto 0 0;
  text-align: center;
}

.card .splide__pagination>li {
  font-size: 0;
  /* liタグの下にある余白を消すため */
}

.card .splide__pagination__page {
  width: 0.8rem;
  height: 1px;
  cursor: pointer;
  transition: var(--transition);
  vertical-align: top;
  background-color: #999;
}

.card .splide__pagination__page.is-active {
  width: 2rem;
  height: 2px;
  background-color: #333;
  /* background-color: var(--color-theme); */
}

.card .splide__arrows {
  display: flex;
  gap: 4.6rem;
  margin-left: 1rem;
}

.card .splide__arrow--prev,
.card .splide__arrow--next {
  position: relative;
  flex-shrink: 0;
  margin: 0;
}

.card .splide__arrow:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.card .splide__arrow:disabled::before {
  box-shadow: var(--box-shadow-inset);
}

.card .splide__slide {
  width: max-content;
  opacity: 0.6;
  transition: opacity var(--transition);
  padding: 0;
}

.card .splide__slide.is-active {
  opacity: 1;
}


.card .slide {
  /* overflow: hidden; */
  border-radius: 4px;
}

.card .slide-media {
  padding-top: 62.5%;
}

.card .slide-media img {
  height: calc(100% + 16px);
  transform: translateY(-16px);
}

.card .slide-content {
  padding: 3.2rem;
  background-color: #3c3c3c;
}

.card .slide-date {
  font-size: 1.2rem;
  line-height: 1;
  display: block;
  color: var(--color-theme);
}

.card .slide-title {
  line-height: 1.6;
  font-family: 'Noto Serif JP', 'Yu Mincho', serif;
  font-size: min(18px, 10vw);
  /* display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 3.2em;
  margin-top: 1.6rem; */
}



@media only screen and (max-width: 1024px) {
  html {
    -webkit-text-size-adjust: 100%;
  }

  .l-inner {
    padding: 0 4rem;
  }

  .pc {
    display: none !important;
  }
}

@media only screen and (max-width: 599px) {
  html {
    font-size: 50%;
  }

  .pc-tab {
    display: none !important;
  }
}

@media only screen and (min-width: 1025px) {
  .tab-sp {
    display: none !important;
  }

  /* .splide__arrow--prev::before,
  .splide__arrow--next::before {
    transition: var(--transition);
  }

  .splide__arrow--prev:hover::before,
  .splide__arrow--next:hover::before {
    transform: scale(1.2);
  } */

  /* .card .slide {
    transition: var(--transition);
  }

  .card .slide img {
    transition: var(--transition);
  } */

  /* .card .slide:hover {
    transform: translateY(-16px);
  } */

  /* .card .slide:hover img {
    transform: translateY(0);
  } */
}

@media only screen and (min-width: 600px) {
  .sp {
    display: none !important;
  }
}

.splide__arrow--prev,
.splide__arrow--next {
  width: 10px;
}

.splide__arrow--prev {
  left: 0 !important;
}

.splide__pagination__page {
  border-radius: 0 !important;
}

.splide__pagination {
  bottom: 0 !important;
}


.section-contents {
  display: block;
  margin-top: 3rem;
}

.section-title {
  padding: 0 2rem;
}

.section-contents-text {
  flex: 2;
  padding: 0 2rem;
  font-family: 'Noto Serif JP', 'Yu Mincho', serif;
  margin: 0 auto 6vw;

  h3 {
    font-size: clamp(18px, 2.8vw, 20px);
    margin-bottom: 1rem;
  }

  p {
    font-size: clamp(14px, 2.8vw, 16px);
  }
}

@media (min-width: 600px) {
  .section-contents {
    display: flex;
  }

  .section-title {
    padding: 0;
  }
}