@charset "UTF-8";

:root {
  --box-sizing: border-box;
  --green: #979C5D;
  --dark: #121212;
}

* {
  margin: 0;
  padding: 0;
  /* margin: auto; */
}

*,
*::before,
*::after {
  box-sizing: initial;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

/* #wrapper {
  margin: auto;
} */

/* Web Fonts */
.font-bold {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-medium {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-book {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font-slant {
  -moz-font-feature-settings: "salt";
  -webkit-font-feature-settings: "salt";
  font-feature-settings: "salt";
}

body {
  background-color: #222;
  color: var(--dark);
}

#content {
  display: flex;
  justify-content: center;
  height: 197vh;
}

.sections {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.section-1 {
  position: relative;
  z-index: 1;
  width: 90vw;
  min-height: calc(100vh + 5vw);
  margin-top: 5vw;
  background-color: var(--green);
  border-radius: 12px;
  margin: 5vw auto;
}

.c-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  letter-spacing: -0.03em;
  color: var(--dark);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-wrap: wrap;
  /* position: relative;
      transform: translateY(-100%); */
}

.sub-title {
  position: relative;
  /* margin-top: 3.6vw; */
  font-size: 1.2vw;
}

.title {
  overflow: hidden;
  line-height: 1.4;
}

.title-1 {
  padding: 0 0.5ch;
  font-size: clamp(36px, 6vw, 154px);
  letter-spacing: -0.05em;
}

.title-2 {
  width: 100%;
  /* margin-top: -1.5vw; */
  font-size: clamp(30px, 2.8vw, 129px);
  letter-spacing: -0.04em;
  padding: 0 2vw;
}

.indicator {
  position: absolute;
  top: 80vh;
  transform: translateY(-100%);
  font-size: clamp(48px, 5.5vw, 129px);
  opacity: 0;
  visibility: hidden;
}

.pointer {
  animation: pointDown 2.5s infinite;
}

@keyframes pointDown {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(20px);
  }

  20% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(20px);
  }

  40% {
    transform: translateY(0);
  }
}


/* section-2*/
.section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 90vw;
  min-height: 60vh;
  font-size: clamp(24px, 4.4vw, 103px);
  letter-spacing: -0.04em;
  text-align: left;
  color: #fff;
}

@media (min-width: 600px) {
  .section-2 {
    text-align: center;
  }
}

/* .info {
      transform: translateY(-20%);
    } */

.text {
  font-size: clamp(16px, 4.4vw, 18px);
  line-height: 2;
  /* width: 60vw; */
  width: min(800px, 76vw);
  margin-bottom: 5px;
}

.first-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: wrap;
}

.section-2 {
  margin: auto;

  .info {
    .text {
      letter-spacing: 0.04em;
    }
  }
}

/* section*/
.section {
  position: relative;
  z-index: 1;
  width: 90vw;
  /* min-height: calc(100vh + 5vw); */
  background-color: white;
  border-radius: 12px;
  padding: 2rem 0;
  margin: 5vw auto 0;
}

.section-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 600px) {
  .section-title {
    transform: translateX(-2%);
    justify-content: start;
    gap: 4rem;
  }
}


.decoration-number {
  /* transform: translateX(-2%); */
  font-size: clamp(48px, 6vw, 129px);
  font-family: 'Noto Serif JP', 'Yu Mincho', serif;
}


/*fonts*/
.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}

.u-mincho y {
  font-family: 'Noto Serif JP', 'Yu Mincho', serif;
}

.sec09-container {
  height: auto;

  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 60px auto;
}

@media (min-width: 600px) {
  .sec09-container {
    margin: 120px auto;
  }
}

.section09 h2 {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  line-height: 2;
  font-size: 22px;
}

.sec09-infowrap ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.sec09-infowrap ul li:nth-child(1) {
  width: 300px;
}

.sec09-infowrap ul li.txt {
  width: 300px;
  /* padding: 0 0 0 50px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sec09-infowrap p {
  text-align: justify;
  font-size: 1.2rem;
  color: white;
}

.sec09-btn {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.sec09-infowrap .gradient {
  display: inline-block;
  color: #fff;
  padding: 18px 60px;
  display: inline-block;
  padding: 18px 60px;
  border-radius: 15px;
  text-decoration: none;
  border: 1px solid white;
  outline: none;
  font-size: 1.4rem;
  transition: all 0.4s ease-out;
  font-family: 'Noto Sans JP', sans-serif;
}

.sec09-infowrap .gradient:hover {
  border-color: transparent;
  background: linear-gradient(270deg, #fa6c9f 0%, #ffe140 50%, #ff357f 100%);
  background-size: 200% auto;
  background-position: right center;
  color: #fff;
  box-shadow: 0 5px 10px rgb(250, 108, 159, 0.4);
}

.sec09-sns ul li {
  padding: 0 0 50px 50px;
}

.sec09-sns ul li:hover {
  opacity: 0.2;
  transition: all 0.4s ease-out;
}

.sec09-sns ul li a i {
  font-size: 40px;
  color: #333;
}

.sec09-sns ul li a {
  display: inline-block;
}

.news-title {
  color: white;
  text-align: center;
  margin-bottom: 3rem;
}

.footer {
  p {
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 2rem;
  }
}